[profile]
# Default profile for Make7Segment.py
# Edit values as needed. Blank or 'None' means leave unset.
# Created time: 2026-Sep-9 02:30 PM

board-width = 200.0
board-height = 180.0
radius = 10.0

# Geometry
# width is for one digit width
width = 75.0
height = 160.0
stroke = 8.0
radius = 10.0

# CAM / cutting
# For outside edge parameter, smaller bit
bit = 3.175
depth = 9.0
passdepth = 1.2
cutting-paths = 8

spindle-speed = 10000
feed = 1200.0
plunge = 300.0

show-board-dim = false
outprefix = A

# Segment tuning
gap = 0.0
overlap = 2.0
hgap = 0.0
vert-length = -10.0
hort-length = 60.0
allow-vertical-overlap = true

# Rendering and union
render-source = poly
use-shapely = true
no-shapely = false
rotate = false

# For webp file
board-outline = dashed
debug-centers = true

# Gcode file
debug-gcode = false
pause-after-seg = false
pause-after-layer = false

# Pocketing options
# Use special Genmitsu Flat Nose End Mill 1/8" shank (3.175 mm)
pocket-middle = true
pocket-step = 1.0
rough-bit = 3.175
# rough-step (deep) max is 2mm 
# rough-step = 1.50 - the number of pass is controlled by passdepth, not this value.
rough-feed = 1200.0
pocket-inset = 0.25
rough-last = false

# two digit
two-digit = true
two-digit-gap = 20.0

# Free-form comment: add any notes below. Indent continuation lines to keep them part of the same value.
comment = This is the thick_board.cfg for Make7Alter.py
    Got the 9mm thick PVC boards.

