[profile]
# Default profile for Make7Segment.py
# Edit values as needed. Blank or 'None' means leave unset.
# Created time: 2026-Sep-2 11:00 AM

board-height = 141.0
board-width = 89.0
board-thickness = 6.5

# Geometry
height = 115.0
width = 75.0
stroke = 7.0
radius = 10.0

# CAM / cutting
bit = 2.0
depth = 
passdepth = 1.0
cutting-paths = 7

spindle-speed = 10000
feed = 1200.0
plunge = 500.0

show-board-dim = false
outprefix = B

# Segment tuning
gap = 0.0
overlap = 2.0
hgap = 0.0
vert-length = -10.0
hort-length = 55.0
allow-vertical-overlap = true

# Rendering and union
render-source = poly
use-shapely = true
no-shapely = false
rotate = true

# For webp file
board-outline = dashed
debug-centers = true

# Gcode file
debug-gcode = false
pause-after-seg = false
pause-after-layer = true

# Free-form comment: add any notes below. Indent continuation lines to keep them part of the same value.
comment = This is the thin_board.cfg for Make7Segment.py
    Got the 1/4" (~6.5mm) thick 5.5" width Poles board.
    Let try to cut out the segement.
